:root {
  --primary-color: #007bff;
  --primary-color-light: #057bff;
  --primary-color-dark: #0062cc;
  --secondary-color: #6c757d;
  --dark-color: #343a40;
  --light-color: #f8f9fa;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --font-color: #000000;
  --font-size: 1.2rem;
  --border-radius: 0.25rem;
  --transition: all 0.5s ease;
  --header-width: 35%;
  --a-color: #cecdcd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-color);
  color: var(--font-color);
  font-size: var(--font-size);
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.verticalHeader {
  height: 100vh;
  background-color: var(--dark-color);
  width: calc(fit-content + var(--header-width));
  color: var(--light-color);
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  z-index: 1;
  transition: var(--transition);
}

.verticalHeader h1 {
  font-size: 1.75rem;
  padding: 1rem;
  color: rgb(255, 255, 255) !important;
}

.verticalHeader a {
  font-size: 1.1rem;
  color: var(--a-color);
  font-weight: bolder;
  line-height: 1.75;
  border-bottom: 1px solid var(--secondary-color);
  transition: var(--transition);
}

.verticalHeader a:hover {
  color: var(--primary-color);
}

.bottomVerticalHeader {
  position: fixed;
  display: flex;
  bottom: 0;
  font-size: 12px;
  text-align: center;
  color: var(--secondary-color);
  margin-right: 1rem;
  padding: 1rem;
  font-weight: bolder;
}

.headerImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5vh;
}

section {
  padding: 2rem;
  padding-left: var(--header-width);
  height: calc(100vh - 4rem);
  overflow-y: auto;
  transition: var(--transition);
}

#about {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.container {
  align-items: center;
  display: inline-block;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  width: 100%;
}

#projects {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.projects-list nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary-color-dark);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.projects-list li {
  list-style: none;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
}

.projects-list a {
  color: var(--dark-color);
  font-weight: bolder;
  transition: var(--transition);
  color: var(--dark-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
  display: block;
  
}

.projects-list li:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.projects-list a:hover {
  color: var(--light-color);
}

#skills {
  background-color: var(--light-color);
  color: var(--dark-color) !important;
}

#skills h1,
#skills h2 {
  color: var(--dark-color);
  margin-bottom: 4rem;
}

#contact {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.social-media {
  width: fit-content;
  height: auto;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  border: 3px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(21, 116, 210, 0.345);
}

.social-media a {
  margin: 10px;
  font-size: 2.5rem;
  text-align: center;
  display: inline-block;
  color: var(--main-fonts-color);
}

.social-media a i {
  cursor: pointer;
}

.social-media a:hover {
  color: rgba(0, 0, 0, 0.515);
}

@media (max-width: 600px) {
  /* Center everything */
  body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure full width */
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: var(--dark-color);

  }
  /* Center the header content */
  .verticalHeader {
    display: flex;
    width: 0px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottomVerticalHeader {
    display: none;
  }
  #about {
    background-color: var(--light-color);
    color: var(--dark-color);
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
  }

  #about h1, h2 {
    margin: 1rem auto;
    color: var(--dark-color);
    margin-bottom: 3rem;
  }

  #projects {
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    align-items: center;
    display: inline-block;
    text-align: center;
  }

  #projects h1 {
    color: var(--light-color);
    margin-bottom: 4rem;
    margin: 2rem auto;
  }

  #projects ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;

  }

  /* Adjust skills section background color */
  #skills {
    background-color: var(--light-color);
    color: var(--dark-color) !important;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }

  #skills nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;

  }

  /* Adjust contact section background color */
  #contact {
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }

  /* Center social media icons */
  .social-media {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border: 3px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(21, 116, 210, 0.345);
    margin-top: 4rem;
  }

  /* Center skills section headings */
  #skills h1,
  #skills h2 {
    margin: 2rem auto;
    color: var(--dark-color);
    margin-bottom: 4rem;
  }
    /* Center skills section headings */
    #contact h1,
    #contact h2 {
      margin: 2rem auto;
      color: var(--light-color);
      margin-bottom: 4rem;
    }
}
